.icon1
    {
        background:url('../images/icon-newBlue/1.png') no-repeat;width:20px;height:20px;
    }
.icon1-1
    {
        background:url('../images/icon-newBlue/1-1.png') no-repeat;width:20px;height:20px;
    }
.icon1-2
    {
        background:url('../images/icon-newBlue/1-2.png') no-repeat;width:20px;height:20px;
    }
.icon1-3
    {
        background:url('../images/icon-newBlue/1-3.png') no-repeat;width:20px;height:20px;
    }
.icon2
    {
        background:url('../images/icon-newBlue/2.png') no-repeat;width:20px;height:20px;
    }
.icon2-1
    {
        background:url('../images/icon-newBlue/2-1.png') no-repeat;width:20px;height:20px;
    }
.icon2-2
    {
        background:url('../images/icon-newBlue/2-2.png') no-repeat;width:20px;height:20px;
    }
 .icon2-3
    {
        background:url('../images/icon-newBlue/2-3.png') no-repeat;width:20px;height:20px;
    }
.icon2-4
    {
        background:url('../images/icon-newBlue/2-4.png') no-repeat;width:20px;height:20px;
    }
.icon2-5
    {
        background:url('../images/icon-newBlue/2-5.png') no-repeat;width:20px;height:20px;
    }
.icon3
    {
        background:url('../images/icon-newBlue/3.png') no-repeat;width:20px;height:20px;
    }
.icon3-1
    {
        background:url('../images/icon-newBlue/3-1.png') no-repeat;width:20px;height:20px;
    }
.icon3-2
    {
        background:url('../images/icon-newBlue/3-2.png') no-repeat;width:20px;height:20px;
    }
 .icon3-3
    {
        background:url('../images/icon-newBlue/3-3.png') no-repeat;width:20px;height:20px;
    }