	.icon1
    {
        background:url('../images/icon-white/1.png') no-repeat;width:20px;height:20px;
    }
     .icon2
    {
        background:url('../images/icon-white/2.png') no-repeat;width:20px;height:20px;
    }
    
      .icon2-1
    {
        background:url('../images/icon-white/2-1.png') no-repeat;width:20px;height:20px;
    }
    
      .icon2-2
    {
        background:url('../images/icon-white/2-2.png') no-repeat;width:20px;height:20px;
    }
      .icon2-3
    {
        background:url('../images/icon-white/2-3.png') no-repeat;width:20px;height:20px;
    }
      .icon2-4
    {
        background:url('../images/icon-white/2-4.png') no-repeat;width:20px;height:20px;
    }
     .icon3
    {
        background:url('../images/icon-white/3.png') no-repeat;width:20px;height:20px;
    }
    
    .icon3-1
    {
        background:url('../images/icon-white/3-1.png') no-repeat;width:20px;height:20px;
    }
    
    .icon3-2
    {
        background:url('../images/icon-white/3-2.png') no-repeat;width:20px;height:20px;
    }
    
    .icon3-3
    {
        background:url('../images/icon-white/3-3.png') no-repeat;width:20px;height:20px;
    }
    
    .icon3-4
    {
        background:url('../images/icon-white/3-4.png') no-repeat;width:20px;height:20px;
    }
   
     .icon6
    {
        background:url('../images/icon-white/6.png') no-repeat;width:20px;height:20px;
    }
     .icon6-0
    {
        background:url('../images/icon-white/6-0.png') no-repeat;width:20px;height:20px;
    }
     .icon6-1
    {
        background:url('../images/icon-white/6-1.png') no-repeat;width:20px;height:20px;
    }
     .icon6-2
    {
        background:url('../images/icon-white/6-2.png') no-repeat;width:20px;height:20px;
    }
     .icon6-3
    {
        background:url('../images/icon-white/6-3.png') no-repeat;width:20px;height:20px;
    }
     .icon6-4
    {
        background:url('../images/icon-white/6-4.png') no-repeat;width:20px;height:20px;
    }
