	.icon1
    {
        background:url('../images/icon-blue/1.png') no-repeat;width:20px;height:20px;
    }
     .icon2
    {
        background:url('../images/icon-blue/2.png') no-repeat;width:20px;height:20px;
    }
     .icon3
    {
        background:url('../images/icon-blue/3.png') no-repeat;width:20px;height:20px;
    }
   
     .icon4
    {
        background:url('../images/icon-blue/4.png') no-repeat;width:20px;height:20px;
    }
     .icon4-1
    {
        background:url('../images/icon-blue/4-1.png') no-repeat;width:20px;height:20px;
    }
     .icon4-2
    {
        background:url('../images/icon-blue/4-2.png') no-repeat;width:20px;height:20px;
    }
     .icon4-3
    {
        background:url('../images/icon-blue/4-3.png') no-repeat;width:20px;height:20px;
    }
     .icon4-4
    {
        background:url('../images/icon-blue/4-4.png') no-repeat;width:20px;height:20px;
    }
     .icon4-5
    {
        background:url('../images/icon-blue/4-5.png') no-repeat;width:20px;height:20px;
    }
     .icon4-6
    {
        background:url('../images/icon-blue/4-6.png') no-repeat;width:20px;height:20px;
    }
     .icon4-7
    {
        background:url('../images/icon-blue/4-7.png') no-repeat;width:20px;height:20px;
    }
     .icon4-8
    {
        background:url('../images/icon-blue/4-8.png') no-repeat;width:20px;height:20px;
    }
     .icon5
    {
        background:url('../images/icon-blue/5.png') no-repeat;width:20px;height:20px;
    }
     .icon5-1
    {
        background:url('../images/icon-blue/5-1.png') no-repeat;width:20px;height:20px;
    }
     .icon5-2
    {
        background:url('../images/icon-blue/5-2.png') no-repeat;width:20px;height:20px;
    }
     .icon5-3
    {
        background:url('../images/icon-blue/5-3.png') no-repeat;width:20px;height:20px;
    }
     .icon6
    {
        background:url('../images/icon-blue/6.png') no-repeat;width:20px;height:20px;
    }
     .icon6-0
    {
        background:url('../images/icon-blue/6-0.png') no-repeat;width:20px;height:20px;
    }
     .icon6-1
    {
        background:url('../images/icon-blue/6-1.png') no-repeat;width:20px;height:20px;
    }
     .icon6-2
    {
        background:url('../images/icon-blue/6-2.png') no-repeat;width:20px;height:20px;
    }
     .icon6-3
    {
        background:url('../images/icon-blue/6-3.png') no-repeat;width:20px;height:20px;
    }
     .icon6-4
    {
        background:url('../images/icon-blue/6-4.png') no-repeat;width:20px;height:20px;
    }
     .icon7
    {
        background:url('../images/icon-blue/7.png') no-repeat;width:20px;height:20px;
    }
     .icon7-1
    {
        background:url('../images/icon-blue/7-1.png') no-repeat;width:20px;height:20px;
    }
     .icon7-2
    {
        background:url('../images/icon-blue/7-2.png') no-repeat;width:20px;height:20px;
    }
     .icon7-3
    {
        background:url('../images/icon-blue/7-3.png') no-repeat;width:20px;height:20px;
    }
     .icon7-4
    {
        background:url('../images/icon-blue/7-4.png') no-repeat;width:20px;height:20px;
    }
     .icon7-5
    {
        background:url('../images/icon-blue/7-5.png') no-repeat;width:20px;height:20px;
    }
     .icon7-6
    {
        background:url('../images/icon-blue/7-6.png') no-repeat;width:20px;height:20px;
    }