html{
	  height:100%;
}
body {
    background: url("../images/login/background.png");
    height:100%;
    background-size:contain;
}

.main-login-top {
	position: absolute;
	height:29px;
	width:250px;
	float:left;
	top:20px;
	left:15%;
	background: url("../images/login/top.png") no-repeat;
}

.main-login_center {
	position: absolute;
	float:left;
	top:11%;
	width:100%;
	height:78%;
	background: url("../images/login/center.png") no-repeat;
	background-size:contain;
}
.main-login_bor{
    background-color: #f8f8f8 ;
	top:25%;
	right:15%;
	margin-top:7px;
    width:334px;
    height:354px;
    position: absolute; 
}
.mian-login_title {
	border-bottom:solid 1px #d5d5d5;
	position: absolute;
	width:280px; 
	height:60px;
	line-height:60px;
	left:29px;
	font-size:24px;
	color:#4195f2;
}
.textInput {
	position: absolute;
	top: 96px;
	left:30px;
	padding-left:35px;
	border: solid 1px #e1e1e1;
	width:238px;
	height:42px;
	font-size:14px;
	color:#c6c6c6;
	background: url("../images/login/yhm.png") 3% 50% no-repeat;
}
.passInput {
	position: absolute;
	top: 174px;
	left:30px;
	padding-left:35px;
	border: solid 1px #e1e1e1;
	width:238px;
	height:42px;
	font-size:14px;
	color:#c6c6c6;
	background: url("../images/login/mima.png") 3% 50% no-repeat;
}
.login_btn{
	position: absolute;
	top: 262px;
	left:30px;
	border-radius: 3px;
	border: 0px;
	background-color: #4195f2;
	color: #fff;
	font-family: Microsoft YaHei;
    font-size: 20px;
	height:44px;
	width:274px;
	background-size:300px 100%;
}


